// import variables to build bootstrap theme
@import 'variables';
@import 'lib/bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding-top: 60px;
}

.cover-image {
  max-width: 100px;
}

.alert {
  margin-bottom: 20px;
  margin-top: 20px;
}

.book-item {
  height: 300px;
}
