{% extends "layout.html" %}
{% block content %}
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h1>Who am I?</h1>
      <p>
        Hi,<br><br>
        I am Benoit, a senior JavaScript developer. I freshly arrived in New York City and I wanted to do a bit of Python to change my mind for a while.<br><br>So I made this app which is my first one in Python with the Flask framework.<br><br>
        I hope you like it. Tell me what you think.
      </p>

      <div class="social-icons">
        <a class="icon-twitter" href="https://twitter.com/benoitvallon">
          <i class="fa fa-twitter"></i>
        </a>
        &nbsp;
        <a class="icon-github" href="https://github.com/benoitvallon">
          <i class="fa fa-github"></i>
        </a>
        &nbsp;
        <a class="icon-linkedin" href="https://www.linkedin.com/in/benoitvallon">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
