{% extends "layout.html" %}
{% block content %}
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h1>Some fun statistics</h1>

      <h3>The most listed authors are...</h3>

      <table class="table table-hover table-condensed text-left">
        <thead>
          <tr>
            <th>#</th>
            <th>Author name</th>
            <th>Number of books in the list</th>
          </tr>
        </thead>
        <tbody>
          {% for author in authors %}
            {% if author.numberOfBooks > 1 %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{ author.name }}</td>
              <td>{{ author.numberOfBooks }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <h3>The most used languages are...</h3>

      <table class="table table-hover table-condensed text-left">
        <thead>
          <tr>
            <th>#</th>
            <th>Language</th>
            <th>Number of books in the list</th>
          </tr>
        </thead>
        <tbody>
          {% for language in languages %}
            {% if language.numberOfBooks > 1 %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{ language.name }}</td>
              <td>{{ language.numberOfBooks }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <h3>The most countries are...</h3>

      <table class="table table-hover table-condensed text-left">
        <thead>
          <tr>
            <th>#</th>
            <th>Country</th>
            <th>Number of books in the list</th>
          </tr>
        </thead>
        <tbody>
          {% for country in countries %}
            {% if country.numberOfBooks > 1 %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{ country.name }}</td>
              <td>{{ country.numberOfBooks }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <h3>The most prolific years are...</h3>

      <table class="table table-hover table-condensed text-left">
        <thead>
          <tr>
            <th>#</th>
            <th>Year</th>
            <th>Number of books in the list</th>
          </tr>
        </thead>
        <tbody>
          {% for year in years %}
            {% if year.numberOfBooks > 1 %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{ year.name }}</td>
              <td>{{ year.numberOfBooks }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
