{% extends "layout.html" %}
{% block content %}
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <h1> <strong>How long </strong> would it take you to <strong>read the 100 Best Books </strong> of all time?</h1>
    </div>
    <div class="col-md-4 col-md-offset-4">
    <form action="{{ url_for('home') }}" method="post">
      <div class="form-group">
        <h3>How many pages would you read per day?</h3>
        <input type="text" name="number-of-pages" class="form-control input-lg" placeholder="...">
      </div>

      <button type="submit" value="NumberOfPages" class="btn btn-success">Submit</button>
    </form>
  </div>
{% endblock %}
