{% extends "layout.html" %}
{% block content %}
  <div class="row text-center">
    <h1>Book list</h1>
    <a class="btn btn-primary btn-space" href="/list?order={% if not isReversedOrder %}-{% endif %}year">
      Sort by year
    </a>
    <a class="btn btn-primary btn-space" href="/list?order={% if not isReversedOrder %}-{% endif %}pages">
      Sort by # of pages
    </a>
    <a class="btn btn-primary btn-space" href="/list?order={% if not isReversedOrder %}-{% endif %}country">
      Sort by country
    </a>
    <a class="btn btn-primary btn-space" href="/list?order={% if not isReversedOrder %}-{% endif %}language">
      Sort by language
    </a>
    <div>
    {% for book in books %}
      <div class="col-md-4 book-item">
        <div class="card">
          <h2 class="title"><a href="{{ book.link }}">{{ book.title }}</a></h2>
          <a href="{{ book.link }}">
            <img src="{{ url_for('static', filename=book.imageLink) }}" class="cover">
          </a>
          <h3 class="author">{{ book.author }}</h3>
          <p>Pages: {{ book.pages }}, Year: {{ book.year }}<br>
          Country: {{ book.country }} - Language: {{ book.language }}</p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
