{% extends "layout.html" %}
{% block content %}
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h1>Who did this list of the 100 Best Books of all time?</h1>
      <p>This list called the Bokklubben World Library is a series of classical books, mostly novels, published by the Norwegian Book Club since 2002. It is based on a list of the 100 best books, as proposed by one hundred writers from 54 different countries, compiled and organized in 2002 by the Book Club. This list endeavors to reflect world literature, with books from all countries, cultures, and time periods.</p>
      <a href="https://en.wikipedia.org/wiki/Bokklubben_World_Library">See the wikipedia page</a>
    </div>
  </div>
{% endblock %}
